<section>
  <div class="Container">
    <div class="FeaturedMap">
      <div class="FeaturedMap__Info">
        {% if section.settings.title != blank %}
          <p class="FeaturedMap__Store Heading u-h1">{{ section.settings.title | escape }}</p>
        {% endif %}

        {% if section.settings.address != blank %}
          <div class="FeaturedMap__Address Rte">
            {{ section.settings.address }}
          </div>
        {% endif %}

        {% if section.settings.hours != blank %}
          <div class="FeaturedMap__Hours Rte">
            {{ section.settings.hours }}
          </div>
        {% endif %}

        {% if section.settings.map_link_label != blank %}
          <a
            href="{{ section.settings.link_url }}"
            target="_blank"
            rel="nofollow"
            class="FeaturedMap__Location Button Button--primary"
          >
            {{- section.settings.map_link_label | escape -}}
          </a>
        {% endif %}
      </div>

      <div
        class="FeaturedMap__MapContainer Image--lazyLoad Image--fadeIn"
        {% if section.settings.image %}
          data-bg="{{ section.settings.image | img_url: '1500x' }}"
        {% endif %}
      >
        {% unless section.settings.image %}
          <div class="PlaceholderBackground PlaceholderSvg--dark">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
          </div>
        {% endunless %}

        <div class="FeaturedMap__GMap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.3320695154334!2d136.94618501986193!3d34.89811525197957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6004850436561993%3A0x50e2ff1858cbdada!2z44CSNDc1LTA4MDcg5oSb55-l55yM5Y2K55Sw5biC5YWr6LuS55S677yY77yY4oiS77yR!5e0!3m2!1sja!2sjp!4v1675223931116!5m2!1sja!2sjp"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  {%- if settings.light_background == settings.background -%}
    <style>
      .FeaturedMap__Info {
        padding: 0 0 40px 0;
      }

      @media screen and (min-width: 641px) {
        .FeaturedMap__Info {
          padding-left: 40px;
        }
      }
    </style>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Mapカスタマイズ",
  "class": "shopify-section__featured-map shopify-section--bordered section_map_customize",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "株式会社 配川工業"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address",
      "default": "<p>〒475-0807 愛知県半田市八軒町８８−１</p>"
    },
    {
      "type": "richtext",
      "id": "hours",
      "label": "Hours",
      "default": "<p>日火水金 8時00分～17時00分<br>月 8時00分～17時30分<br>木 8時00分～18時00分</p>"
    },
    {
      "type": "text",
      "id": "map_link_label",
      "label": "Map link label",
      "default": "マップを見る"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "マップのURL"
    }
  ],
  "presets": [
    {
      "category": "Store information",
      "name": "Mapカスタマイズ",
      "settings": {}
    }
  ]
}
{% endschema %}
